<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tourism</title>
    <link rel="stylesheet" href="/stylesheet/grnd.css">
</head>
<body>
    <nav>
        <img src="https://i.pinimg.com/564x/3d/02/12/3d02129727137fc9d51a339dd09b3832.jpg" alt="">
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup </a></li>
        </ul>
    </nav>
    <hr>
    <div class="images">
        <div class="middle">
            <img src="https://images.unsplash.com/photo-1554119740-8a56f6c04c0b?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="lakshadweep">
            <img src="https://images.unsplash.com/photo-1581892197913-fd2e407e698a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="goa">
            <img src="https://images.unsplash.com/photo-1625503381783-699833cf0d25?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="assam">
            <img src="https://images.unsplash.com/photo-1589029661242-fbb01bc4fd1a?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Uttarakhand">
            <img src="https://images.unsplash.com/photo-1566323124805-757e5c41d37c?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="ladakh">
            <img src="https://images.unsplash.com/photo-1598091383021-15ddea10925d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="kashmir">
        </div>
        <button>See More</button>
    </div>
</body>
</html>