<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheet/login.css">
</head>
<body>
    <form id="login-form">
        <h1>Login</h1>
        <label for="Email">Email</label>
        <input type="email" placeholder="Enter your email" name="email" id="email" required>
        <label for="password">Password</label>
        <input type="password" placeholder="Enter your password" name="password" id="password" required>
        <button type="submit">Login</button>
        <div class="signup">
            <p>Don't have an account ?</p>
            <a href="/signup"><span> Sign up</span></a>
        </div>
    </form>

    <script src="/javascript/login.js"></script>
</body>
</html>